{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "requireConfigFile": false,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:preact/recommended"
    ],
    "plugins": ["react", "preact"],
    "rules": {
        "react/jsx-uses-vars": "error",
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "react": {
            "pragma": "h",
            "version": "detect"
        }
    }
}
